/* homepage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

body {
    background: #111;
    overflow-x: hidden;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    box-shadow: 0 0 10px rgba(133, 138, 144, 0.3);

}

.btn:hover {
    color: #111;
    background: #29d9d5;
}

/* -------------Navbar-------------- */
.icon-image {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar-brand {
    font-size: 27px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.navbar-dark .btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.navbar {
    background-color: #202B53;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .btn {
    color: darkcyan;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover,
.navbar-dark .btn:hover {
    color: lightcyan;
}

.navbar-dark .btn {
    border-color: darkcyan;
    ;
}

.navbar-dark .btn:hover {
    border-color: darkcyan;
    background-color: darkcyan;
}

.navbar-toggler {
    background-color: darkcyan;
    border-color: darkcyan;
}

.btn-mobile,
.btn-desktop {
    display: none;
}

@media (max-width: 991.98px) {
    .btn-mobile {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .btn-desktop {
        display: inline-block;
        margin-left: auto;
    }
}



/* ------------- why us ------------- */
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2% 5% 0 5%;
}

.about .video-container {
    flex: 1 1 42rem;
}

.about .video-container video {
    border-radius: 1rem;
    width: 100%;
}

.about .video-container .controls {
    text-align: center;
    padding: 2rem 0;
}

.about .video-container .controls span {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
}

.about .video-container .controls span:hover {
    background: #29d9d5;
}

.about .content {
    flex: 1 1 42rem;
}

.about .content span {
    color: #29d9d5;
    font-size: 2rem;
}

.about .content h3 {
    color: #fff;
    font-size: 4rem;

}

.about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: grey;
    line-height: 2;

}

/* -------------gallery------------- */

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: #29d9d5;
    font-size: 2rem;
}

.heading h1 {
    font-size: 4rem;
    color: #fff;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse-animation 1.5s ease-in-out infinite;
}


#myDIV {
    display: none;
    transition: height 0.5s ease;
    overflow: hidden;
}

.gallery {
    padding: 0 5% 0 5%;
}

.gallery .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1.4rem;
    width: 230px;
    height: 40px;
    margin: 30px auto 40px;

}

.gallery .box-container {
    columns: 3 25rem;
    column-gap: 1.5rem;

}

.gallery .box {
    margin-bottom: 1rem;
    break-inside: avoid;
}

.gallery .box img {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.gallery .box img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gallery span {
    font-size: 2rem;
}

.gallery .box h3 {
    margin-top: .5rem;
    font-size: 2em;
    color: #fff;
}


/* -------------about us------------- */
.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 5% 5% 5%;

}

.review .content {
    flex: 1 1 42rem;
}

.review .content span {
    font-size: 3rem;
    color: #29d9d5;
}

.review .content h3 {
    font-size: 5rem;
    color: #fff;

}

.review .content p {
    font-size: 1.8rem;
    color: grey;
    padding: 1rem 0;
    line-height: 2;
}

.review .box-container {
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.review .box {
    flex: 1 20 20rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #15214d;
    transition: border-color 0.9s ease;
}

.review .box:hover {
    border: 2px solid blue;
}


.review .box p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color: grey;
}

.review .box .user {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.review .box .user img {
    height: 15rem;
    border-radius: 10px;

}

.review .box .user h3 {
    font-size: 3.5rem;
    color: #fff;
}

.review .box .user span {
    font-size: 14px;
    color: rgb(239, 236, 236);
}


/* -------------banner------------- */
.banner {
    background-image: url(img/bali-2698078_12802.jpg);
    height: auto;
    background: linear-gradient(black grey), no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 10%;
}


.banner .content span {

    color: #29d9d5;
    font-size: 2rem;

}

.banner .content h3 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.banner .content p {

    font-size: 1.4rem;
    color: #fff;

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .about .content h3 {
        font-size: 3.5rem;
    }
}

body {
    background-color: #0F1838;
    color: darkcyan;
}




/* -------------Footer--------------- */
.footer {
    background-color: #15214d;
}